@import "open-props/normalize";

.prose {
    & p {
        margin-block: var(--size-3);
    }

    :is(h1, h2, h3, p):where(:first-child),
    :is(h1, h2, h3)+* {
        margin-block-start: 0;
    }

    > :is(h1, h2, h3, p):where(:last-child) {
        margin-block-end: 0;
    }
}